* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("../img/background.jpg");

    height: 100vh; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}