html {
    font-size: 16px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

    font-size: 0.875rem;
    font-family: 'Nitti';
    font-weight: normal;

    color: #707070;
}

a {
    color: #325AF9;
}

#main {
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
}

.side {
    width: 50%;

    padding: 50px;
}

.side--left {
    background-color: #F7F7F7;
}

.side--right {
    background-color: #ffffff;
}

p {
    margin-bottom: 5px;
}

.header--big, .header--medium {
    margin-bottom: 5px;

    font-weight: bold;
}

.header--big {
    font-size: 1rem;
}

.p--big-tab {
    margin-left: 20px;
}

.p--small-tab {
    margin-left: 10px;
}

.span--smaller-text {
    font-size: 0.75rem;
}

.row {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
}

.row--cell {
    width: 33.3%;
}

@media screen and (max-width: 1024px) {
    #main {
        width: 100%;
        
        flex-flow: column nowrap;
    }

    .side {
        width: 100%;
    }
}