@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&subset=cyrillic,cyrillic-ext,latin-ext');

:root {
    --main-font-color: #333333;
    --reverse-font-color: #ffffff;
}

html, body {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', monospace;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#mainPage {
    padding-top: 30px;
    /*display: flex;*/
    /*align-items: center;*/
    width: 100%;
    height: 100vh;
    /*background: url(../img/background.jpg) no-repeat center center fixed;*/ 
	background: #355C7D;
	background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
	background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
	height: 90vh;
    max-width: 1500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
}

.search {
    width: 100%;
}

input[type='text'] {
    background: none;
    border: none;
    font-size: 1.75rem;
    color: var(--main-font-color);
    padding: 15px;
    display: flex;
    font-weight: bold;
    width: 100%;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.block-header {
    font-size: 1.625rem;
    text-transform: uppercase;
    color: var(--main-font-color);
    font-weight: bold;
    text-align: center;
}

.block-items ul li {
    list-style: none;
}

.block-items ul li a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px 0;
}

.item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    /* color: var(--reverse-font-color); */
    color: var(--main-font-color);

    /* font-size: 1.25rem; */
    font-size: 1.5rem;
    padding: 1px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background-color: var(--main-font-color); */
}

.item-title {
    font-size: 1.125rem;
    color: var(--main-font-color);
}
