@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display:400,400i,700|Ubuntu:300,400');

:root {
    /*fonts*/
    --playfair: 'Playfair Display', serif;
    --ubuntu: 'Ubuntu', sans-serif;
    /*colors*/
    --black: #000000;
    --main: #626262;
    --tag: #b4ad9e;
    --second: #333333;
    --form-bg: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
a {
    text-decoration: none;
}
.img-responsive {
    width: 100%;
}

.container {
    max-width: 1060px;
    margin: auto;
}
.container-small {
    max-width: 900px;
    margin: auto;
}

/*FOR ALL PAGES*/
.tag {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-family: var(--ubuntu);
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--tag);
}
.post-title {
    margin-bottom: 15px;

    font-family: var(--playfair);
    font-size: 1.875rem;
    color: var(--main);
}
.post-text {
    font-family: var(--playfair);
    font-size: 0.875rem;
    color: var(--main);
}
.post-main {
    margin-bottom: 10px;
}

/*HOME PAGE*/
.post-wrapper {
    padding: 50px 0;
}
.line a {
    display: block;
}
.line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 100px;
}
.box {
    padding: 10px;
    max-width: 400px;

    position: relative;
    background-color: #fff;
}
.box-img {
    margin-bottom: 15px;
}

/*form*/
#form {
    background-color: var(--form-bg);

    margin: 100px 0 100px 0;
}
.form-wrapper {
    padding: 80px 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.email-wrapper {
    border-bottom: 1px solid var(--second);
}
.email-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper h1 {
    color: var(--second);
}
.email-wrapper input[type="email"], .email-wrapper button {
    margin-right: 15px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    font-family: var(--playfair);
    color: var(--second);
}
.email-wrapper input[type="email"] {
    font-size: 0.875rem;
}
.email-wrapper button {
    font-size: 1.875rem;  
}
/**/
.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.load-more button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--main);
    font-family: var(--playfair);
    font-size: 1.25rem;
    color: var(--main);
    padding: 20px 34px;
}
/*footer*/
footer {
    background-color: var(--form-bg);
    padding: 40px 0;
}
.footer-wrapper {
    justify-content: space-between;
}
.left, .right, .footer-wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.left a{
    color: var(--black);
    font-family: var(--playfair);
    font-size: 0.875rem;
}
.terms {
    margin-right: 17px;
}
.right p{
    color: var(--black);
    font-family: var(--playfair);
    font-size: 0.875rem;
}
.right i {
    margin-left: 17px;
    color: var(--main);
    font-size: 1rem;   
}
/**/
/*MEDIA*/
@media screen and (max-width: 900px) {
    .tag {
        font-size: 0.75rem;
    }
    .post-title {
        font-size: 1.25rem;
    }
    .post-wrapper {
        padding: 100px 25px;
    }
    .line {
        flex-flow: column nowrap;

        margin-bottom: 0;
        padding: 0 15px;
    }
    .box {
        max-width: 100%;
        padding: 10px 10px;

        margin-top: 50px;
    }
    #line {
        margin: 100px 0 50px 0;
    }
    footer {
        padding: 40px 25px;
    }
}

@media screen and (max-width: 480px) {
    .footer-wrapper {
        flex-flow: column nowrap;
    }
    .left {
        margin-bottom: 20px;
    }
}
/*ANIMATION*/

.box:hover .box-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.right i:hover {
    transition: 0.3s;
    color: var(--black);
}

.load-more button:hover {
    transition: 0.3s;
    background-color: var(--main);
    color: #ffffff;
}

.box::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(98, 98, 98, 0.5);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
.box:hover::after {
    opacity: 1;
}