@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display:400,400i,700|Ubuntu:300,400');

:root {
    /*fonts*/
    --playfair: 'Playfair Display', serif;
    --ubuntu: 'Ubuntu', sans-serif;
    --inconsolata: 'Inconsolata', monospace;
    /*colors*/
    --black: #000000;
    --main: #626262;
    --tag: #b4ad9e;
    --second: #333333;
    --form-bg: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
a {
    text-decoration: none;
}
.img-responsive {
    width: 100%;
}

.container {
    max-width: 1060px;
    margin: auto;
}
.container-small {
    max-width: 900px;
    margin: auto;
}

/*FOR ALL PAGES*/
.tag {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-family: var(--ubuntu);
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--tag);
}
.post-title {
    margin-bottom: 15px;

    font-family: var(--playfair);
    font-size: 1.875rem;
    color: var(--main);
}
.post-text {
    font-family: var(--playfair);
    font-size: 0.875rem;
    color: var(--main);
}
.post-main {
    margin-bottom: 10px;
}
/*overlay*/
.menu-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.9);
    width: 0%;
    height: 100vh;
    overflow-x: hidden;
    transition: 0.3s;
}
.menu-content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.menu, .close-btn {
    display: flex;
}
.close-btn {
    font-size: 1.875rem;
    color: #fff;
    padding: 30px 30px;
    justify-content: flex-end;
}
.close-btn i {
    cursor: pointer;
}
.menu {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.menu li {
    list-style: none;
    margin-bottom: 25px;
}
.menu a {
    text-transform: uppercase;
    font-family: var(--playfair);
    color: #fff;
    font-size: 1.875rem;
}
.menu-btn {
    cursor: pointer;
    justify-content: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-family: var(--inconsolata);
    color: var(--black);
    font-size: 1.875rem;
    letter-spacing: 3px;   
    display: none;
}
/*navbar*/
nav {
    padding: 25px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 2;
}
.nav-left a {
    text-transform: uppercase;
    font-family: var(--inconsolata);
    color: var(--black);
    font-size: 1.875rem;
    letter-spacing: 3px;
}
.nav-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-grow: 3;
}
.nav-right a {
    font-family: var(--playfair);
    font-size: 0.875rem;
    color: var(--main);
    text-transform: uppercase;
}
/*HOME PAGE*/
.post-wrapper {
    padding: 50px 0;
}
.line a {
    display: block;
}
.line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 100px;
}
.box {
    padding: 10px;
    max-width: 400px;

    position: relative;
    background-color: #fff;
}
.box-img {
    margin-bottom: 15px;
}
.text-bold {
    font-weight: bold;
}
/*form*/
#form {
    background-color: var(--form-bg);

    margin: 100px 0 100px 0;
}
.form-wrapper {
    padding: 80px 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.email-wrapper {
    border-bottom: 1px solid var(--second);
}
.email-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper h1 {
    color: var(--second);
}
.email-wrapper input[type="email"], .email-wrapper button {
    margin-right: 15px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    font-family: var(--playfair);
    color: var(--second);
}
.email-wrapper input[type="email"] {
    font-size: 0.875rem;
}
.email-wrapper button {
    font-size: 1.875rem;  
}
/**/
.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.load-more button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--main);
    font-family: var(--playfair);
    font-size: 1.25rem;
    color: var(--main);
    padding: 20px 34px;
}
/*footer*/
footer {
    background-color: var(--form-bg);
    padding: 40px 0;
}
.footer-wrapper {
    justify-content: space-between;
}
.left, .right, .footer-wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.left a{
    color: var(--black);
    font-family: var(--playfair);
    font-size: 0.875rem;
}
.terms {
    margin-right: 17px;
}
.right p{
    color: var(--black);
    font-family: var(--playfair);
    font-size: 0.875rem;
}
.right i {
    margin-left: 17px;
    color: var(--main);
    font-size: 1rem;   
}
/*FULL PAGE*/
.big-text {
    line-height: 25px;
    margin-top: 20px;
}
.big-text img {
    margin-bottom: 20px;
}
.quote {
    padding: 0 25px; 
    font-style: italic;
}
.share {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
}
.share p {
    font-family: var(--ubuntu);
    text-transform: uppercase;
}
.share a, .share p {
    padding-left: 15px;
    color: var(--tag);
    font-size: 0.8125rem;
}

.other-posts {
    background-color: var(--form-bg);
    padding: 40px 0;
    margin-bottom: 40px;
}
.line-sec {
    margin-bottom: 0px;
}
.other-box {
    max-width: 270px;
    color: var(--main);
}
.other-box h1 {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.other-box img {
    margin-bottom: 15px;
}
/**/
/*comments*/
.com-value {
    margin-bottom: 20px;
}
.comment {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: row nowrap;
}
.com-left {
    margin-right: 20px;
}
.com-author, .com-text {
    font-family: var(--playfair);
    font-size: 0.875rem;
    color: var(--main);
}
.com-author {
    font-weight: bold;
    margin-bottom: 8px;
}
.com-text {
    margin-bottom: 15px;
}
.right-textarea {
    width: 100%;
    padding-right: 25px;
}
.comment-area {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    font-family: var(--playfair);
    color: var(--main);
    font-size: 0.875rem;
    border: 1px solid var(--form-bg);
    resize: none;
}
.comment-area::-moz-placeholder {
    text-transform: uppercase;
    font-family: var(--ubuntu);
}
.connect {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 80px;
}
.connect p {
    margin-right: 10px;
}
.connect i {
    margin-left: 15px;
    font-size: 0.875rem;
    color: var(--tag);
}

/**/
/*MEDIA*/
@media screen and (max-width: 900px) {
    .connect {
        padding: 0 25px;
    }
    .com-value {
        padding: 0 25px;
    }
    .comment {
        padding: 0 25px;
    }
    .other-box {
        max-width: 100%;
        padding: 0 25px;
        margin-bottom: 50px;
    }
    .share {
        padding: 0 25px;
    }
    nav {
        padding: 25px 25px;
    }
    .tag {
        font-size: 0.75rem;
    }
    .post-title {
        font-size: 1.25rem;
    }
    .post-wrapper {
        padding: 50px 25px 0 25px;
    }
    .line {
        flex-flow: column nowrap;

        margin-bottom: 0;
        padding: 0 15px;
    }
    .box {
        max-width: 100%;
        padding: 10px 10px;

        margin-top: 50px;
    }
    #line {
        margin: 100px 0 50px 0;
    }
    footer {
        padding: 40px 25px;
    }
    .big-text {
        padding: 0 25px;
    }
}

@media screen and (max-width: 700px) {
    .visible-toggler {
        display: none;
    }
    .menu-btn { 
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .footer-wrapper {
        flex-flow: column nowrap;
    }
    .left {
        margin-bottom: 20px;
    }
}
/*ANIMATION*/

.box:hover .box-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.right i:hover {
    transition: 0.3s;
    color: var(--black);
}

.load-more button:hover {
    transition: 0.3s;
    background-color: var(--main);
    color: #ffffff;
}

.box::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(98, 98, 98, 0.5);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
.box:hover::after {
    opacity: 1;
}